<section id="product-list" class="container">
  <div *ngFor="let product of products" class="card my-4">
    <div class="card-header">
      <h5>
        <a href="#"
             class="link-primary"
             [title]="product.name"
             [routerLink]="['/products', product.id]">
          {{product.name}}
        </a>
      </h5>
    </div>
    <div class="card-body">
      <p *ngIf="product.description">{{product.description}}</p>
      <button class="btn btn-primary">Share</button>
    </div>
  </div>
</section>
